/mnetreport_epoch:1.txt
/mnetreport_epoch:2.txt
/mnetreport_epoch:3.txt
/output113033.txt
/run.sh
/images-sfsymbols
/images
/figures/build.sh
/figures/square.and.arrow.up.svg
/figures/tech.dvi
/figures/tech.pdf
/figures/tech.png
/figures/tech.svg
/figures/tech.tex
.DS_Store

figures/.ipynb_checkpoints/benchmark-checkpoint.ipynb

figures/.ipynb_checkpoints/DeTeXt Train-checkpoint.ipynb
figures/.ipynb_checkpoints/drawing-checkpoint.ipynb

figures/benchmark.ipynb
figures/DeTeXt Train.ipynb
figures/drawing.ipynb

saved_model/keras_metadata.pb

saved_model/saved_model.pb

saved_model/variables/variables.data-00000-of-00001

saved_model/variables/variables.index

figures/fig.png
figures/fignew.png
